.lboard_section .lboard_tabs ul{
	display: flex;
}

.lboard_section .lboard_tabs ul li{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 600;
	color: #3a3d51;
	cursor: pointer;
}

.lboard_section .lboard_tabs ul li:hover,
.lboard_section .lboard_tabs ul li.active{
	color: #fff;
}

.lboard_wrap{
	position: relative;
	/* background: #f1cb0c; */
  background: white;
	width: 100%;
	min-height: 600px;
	border-radius: 0 0 10px 10px;
}

.lboard_wrap .lboard_item{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
}

.lboard_wrap .lboard_mem{
	display: flex;
  font-family: Inter;
  font-weight: bold;
	align-items: center;
	padding: 10px 0;
}

.lboard_wrap .lboard_mem:first-child{
	padding-top: 0;
}

.lboard_wrap .lboard_mem:last-child{
	padding-bottom: 0;
	border-bottom: 0;
}

.lboard_wrap .lboard_mem .img{
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lboard_wrap .lboard_mem img{
	display: block;
	width: 50px;
}

.lboard_wrap .lboard_mem .name_bar{
	margin: 0 10px;
	width: calc(100% - 150px);
}

.lboard_wrap .lboard_mem .name_bar p{
	color: #3a3d51;
}

.lboard_wrap .lboard_mem .name_bar p span{
	margin-right: 5px;
    font-family: Baloo;
}

.lboard_wrap .lboard_mem .points{
	width: 100px;
	color: #3a3d51;
}

.profil {
    border-radius: 50%;
}

.crown {
  /* width: 25px; */
  display: block;
  /* height: 25px; */
  position: relative;
  padding-bottom: 2px ;
}

.img{
	width: 50px;
  height: 50px;
  position: relative;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap{
	width: 100%;
	height: 5px;
	/* background: #d5b000; */
  background: #66befd;
	margin-top: 5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap .inner_bar{
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	/* background: #fff; */
  background: #026CB6;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

/* yellow */

.lboard_wrap .lboard_mem .name_bar .bar_wrap-yellow{
	width: 100%;
	height: 5px;
	background: #ffee98;
  /* background: #66befd; */
	margin-top: 5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap-yellow .inner_bar-yellow{
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
  background: #ecc503;
  /* background: #026CB6; */
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}


/* Red */

.lboard_wrap .lboard_mem .name_bar .bar_wrap-red{
	width: 100%;
	height: 5px;
  background: #fc8581;
  /* background: #66befd; */
	margin-top: 5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap-red .inner_bar-red{
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
  background: #ec0800;
  /* background: #026CB6; */
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}


/*  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .leaderboard {
    /* max-width: 29rem; */
    max-width: 96%;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: 2px 2px 16px 1px #aaa;
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  header {
    font-family: Inter;
    background-color: #026CB6;
    color: white;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 14rem;
    position: relative;
  }
  
  h1 {
    font-size: 2rem;
    line-height: 1rem;
    position: absolute;
    margin-left: 1rem;
    top: 4rem;
  }

  @media (min-width: 330px) {
    h1 {
      font-size: 2rem;
      line-height: 1rem;
      position: absolute;
      margin-left: 1rem;
      top: 4rem;
    }
  }


  h3 {
    font-size: 1rem;
    line-height: 1rem;
    position: absolute;
    margin-left: 1rem;
    top: 6rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
  }
  
  img-def {
    /* height: 16rem; */
    position: absolute;
    bottom: 0;
    right: 1rem;
  }

  .steps {
    height: 160px;
    /* display: none; */
    position: absolute;
    bottom: 0;
    right: 1rem;
}
  
  nav {
    font-family: Inter;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    background: linear-gradient(
      to bottom,
      transparent,
      transparent 10%,
      rgba(22, 22, 22, 0.5)
    );
  }

  
  .lboard_mem {
    animation-duration: 1s;
    animation-name: slidein;
  }
  hr {
    animation-duration: 1s;
    animation-name: slidein;
  }

  nav a {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    display: inline-block;
    font-weight: bold;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  nav a.active {
    /* border-bottom: 6px solid #f0a900; */
    border-bottom: 6px solid #012742;
    /* #026CB6 */
    border-radius: 2;
  }
  
  nav a:first-child {
    margin-left: 1rem;
  }
  
  nav a + a {
    margin-left: 0.5rem;
  }
  
  table {
    background-color: #16181e;
    color: #999;
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
  }
  
  thead {
    font-size: 0.9rem;
    color: #555;
    /* text-transform: uppercase; */
  }
  
  tbody .nick {
    color: white;
    /* color: #ececec; */
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  tbody tr:nth-child(2n) {
    background-color: #1f232c;
  }
  
  .nick {
    text-align: left;
  }
  
  .rank,
  .sp,
  .kd {
    text-align: right;
  }
  
  .rank {
    width: 4ch;
    padding-left: 0rem;

  }
  .nick {
    width: 9ch;
    /* padding-left: 1rem; */
  }

  .sp,
  .kd {
    width: 12ch;
  }

  .kd {
      padding-right: 2rem;
  }
  
  th {
    padding: 1.5rem 1rem 0.5rem;
  }
  
  td {
    padding: 1rem 1rem;
  }
  
  /* #1f232c */
  
.btn {
  display: inline-block;
  font-weight: 100px;
  font-family: Inter;
  border-radius: 30px;
  line-height: 1;
  font-size: 11;
  background-color: #0586e2;
  border: 0;
  color: white;
  padding: 4px 8px;
  cursor: pointer;
}

.kosong {
  font-family: Inter;
  color: darkgray;
}

.btn:hover, .btn:focus {
  background-color: #00375f;
}

.active-btn {
  background-color: #012742  ;
}

.btn:active {
  background-color: #012742  ;
}

.category {
  padding-top: 8px;
  right: 8px;
  position: absolute;
  display: inline-block
}

.myachievment { 
  padding-top: 8px;
  left: 12px;
  position: absolute;
}
.categ {
  height: 25px;
}

.coba {
  margin-top: 8px;
}